<template>
    <div class="card mx-3 shadow mt-4 min-vh-admin">
        <div class="card-header d-flex justify-content-between">
            <h1>Data Show Doctor</h1>
        </div>
        <div class="card-body">
            <h1>Halo</h1>
        </div>
    </div>
</template>
