<script setup lang="ts">
    import { useRouter, useRoute } from 'vue-router'
    import api from '@/api/index';
    import { ref, onMounted } from "vue";
    import $ from "jquery";
    import { getToken } from '@/stores/jwtControl';

    const router = useRouter();
    const route = useRoute();
    const isLoad = ref(true)

    const id = route.params.id;

    const img = ref({});
    const imgPath = ref("");
    const description = ref("");

    const loadData = async () => {
        await api.get('/content/banner')
        .then((res) => {
            const data = res.data.data;

            imgPath.value = data.img_path;
            description.value = data.description;

            isLoad.value = false;
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            $('#toast-danger .d-flex .toast-body').html(data.message)
        });
    }

    const submitForm = async () => {
        let formData = new FormData();

        formData.append("img", img.value);
        formData.append("description", description.value);

        await api.post('/content/banner', formData, {
            headers: {
                'Content-Type': 'multipart/form-data',
                'Authorization': `Bearer ${getToken()}`
            }
        })
        .then(() => {
            $('#toast-danger').addClass('hide')
            $('#toast-danger').removeClass('show')

            loadData();

            $('#toast-success').removeClass('hide')
            $('#toast-success').addClass('show')

            $('#toast-success .d-flex .toast-body').html('Data Banner berhasil diperbaharui!')
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            if (data.message == 'Validation error') {
                $('#toast-danger .d-flex .toast-body').html(data.message)

                if (data.data.img) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.img[0])
                }
                if (data.data.description) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.description[0])
                }
            } else {
                $('#toast-danger .d-flex .toast-body').html(data.message)
            }
        });
    }
    
    const previewFiles = (event) => {
        img.value = event.target.files[0];
        imgPath.value = URL.createObjectURL(img.value);
    }

    onMounted(() => {
        loadData();
    });
</script>

<template>
    <div class="card mx-3 shadow mt-4 min-vh-admin">
        <div class="card-header d-flex justify-content-between">
            <h1>Data Banner</h1>
        </div>
        <div v-if="isLoad" class="card-img-overlay bg-white align-items-center justify-content-center d-flex">
            <div class="spinner-border text-primary text-center" role="status">
                <img src="../assets/images/icon.svg" width="18" class="" alt="">
                <span class="visually-hidden">Loading...</span>
            </div> 
            <h4 class="ms-2">Mohon tunggu sebentar...</h4>
        </div>
        <div class="card-body">
            <form @submit.prevent="submitForm()" method="POST" class="mx-1">
                <div class="mb-3">
                    <label class="form-label">Gambar<span class="text-danger">*</span></label> <br>
                    <img :src="imgPath" alt="preview-img" width="200" class="mb-3">
                    <div class="form-control-feedback form-control-feedback-start">
                        <input type="file" class="form-control" @change="previewFiles"
                                placeholder="Masukkan gambar..." name="img">
                    </div>
                </div>

                <div class="mb-3">
                    <label for="input-description" class="form-label">Deskripsi<strong class="text-danger">*</strong></label>
                    <div class="form-control-feedback form-control-feedback-start">
                        <textarea class="form-control" name="description" id="input-description"
                            v-model="description" rows="5" placeholder="Masukkan Deskripsi..."></textarea>
                    </div>
                </div>

                <div class="mb-3 mt-4 text-end">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy-fill"></i> Simpan</button>
                </div>
            </form>
        </div>
    </div>
</template>
