<script setup lang="ts">
    import api from '@/api/index.ts'
    import { getToken } from "@/stores/jwtControl";
    import DataTable from 'datatables.net-vue3';
    import DataTablesCore from 'datatables.net-bs5';
    import 'datatables.net-select';
    import 'datatables.net-responsive';

    DataTable.use(DataTablesCore);
    const columns = [
        {
            title: 'No',
            data: 'DT_RowIndex',
            className: 'text-center',
            orderable: false,
            searchable: false
        },
        {
            title: 'NIK',
            data: 'nik',
            name: 'profile.nik',
            orderable: true,
            searchable: true
        },
        {
            title: 'Nama Lengkap',
            data: null,
            name: 'profile.first_name',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return data.first_name + ' ' + data.last_name;
            }
        },
        {
            data: 'last_name',
            name: 'profile.last_name',
            visible: false,
            orderable: false,
            searchable: true
        },
        {
            title: 'Jenis Kelamin',
            data: 'gender',
            name: 'profile.gender',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                let gender = data;

                if (data == 'L') {
                    gender = 'Laki-Laki';
                }

                if (data == 'P') {
                    gender = 'Perempuan';
                }

                return gender;
            }
        },
        {
            title: 'Tempat, Tanggal Lahir',
            data: null,
            name: 'profile.birth_place',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return data.birth_place + ', ' + data.birth_date;
            }
        },
        {
            data: 'birth_date',
            name: 'profile.birth_date',
            visible: false,
            orderable: false,
            searchable: true
        },
        {
            title: 'Status Pernikahan',
            data: 'marital_status',
            name: 'profile.marital_status',
            orderable: true,
            searchable: true
        },
        {
            title: 'Aksi',
            data: null,
            className: 'text-nowrap',
            orderable: false,
            searchable: false,
            render: function (data, type, row, meta) {
                return `
                    <a aria-current="page" href="/admin/pasien/${data.user_id}/medical-history" class="btn btn-sm btn-info text-light">
                        <i class="bi bi-hospital-fill"></i> Data Riwayat
                    </a>
                `;
            }
        },
    ];

    const options = {
        responsive: true,
        select: false,
        serverSide: true,
        processing: true,
        order: [2, 'ASC'],
    };

    const ajax = {
        url: api.getUri() + '/configuration/user',
        headers: {
            "Authorization": `Bearer ${getToken()}`
        },
        data: {
            'only_patients': true
        }
    };
</script>

<style>
    @import 'datatables.net-bs5';
</style>

<template>
    <div class="card mx-3 shadow mt-4 min-vh-admin">
        <div class="card-header d-flex justify-content-between">
            <h1>Data Pasien</h1>
        </div>
        <div class="card-body">
            <div class="container">
                <DataTable
                    :columns="columns"
                    :ajax="ajax"
                    :options="options"
                    class="table table-bordered"
                />
            </div>
        </div>
    </div>
</template>
