<script setup lang="ts">
    import { useRouter, RouterLink, useRoute } from 'vue-router'
    import api from '@/api/index.ts';
    import { ref, onMounted } from "vue";
    import $ from "jquery";
    import { getToken } from '@/stores/jwtControl';

    const router = useRouter();
    const route = useRoute();
    const isLoad = ref(true)

    const id = route.params.id;

    const patient_id = route.params.patient_id;
    const complaint = ref("");
    const physical_examination_results = ref("");
    const diagnosis = ref("");
    const medicine = ref("");
    const notes = ref("");

    const loadData = async () => {
        await api.get('/medical-history/'+id, {
            headers: {
                'Authorization': `Bearer ${getToken()}`
            }
        })
        .then((res) => {
            const data = res.data.data;

            complaint.value = data.complaint;
            physical_examination_results.value = data.physical_examination_results;
            diagnosis.value = data.diagnosis;
            medicine.value = data.medicine;
            notes.value = data.notes;

            isLoad.value = false;
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            $('#toast-danger .d-flex .toast-body').html(data.message)
        });
    }

    const submitForm = async () => {
        let formData = new FormData();
        let urlForm = '/medical-history';

        if (id) {
            urlForm += '/'+id;
        }

        formData.append("patient_id", patient_id);
        formData.append("complaint", complaint.value);
        formData.append("physical_examination_results", physical_examination_results.value);
        formData.append("diagnosis", diagnosis.value);
        formData.append("medicine", medicine.value);
        formData.append("notes", notes.value);

        await api.post(urlForm, formData, {
            headers: {
                'Content-Type': 'multipart/form-data',
                'Authorization': `Bearer ${getToken()}`
            }
        })
        .then((res) => {
            $('#toast-danger').addClass('hide')
            $('#toast-danger').removeClass('show')

            router.push('/admin/pasien/'+route.params.patient_id+'/medical-history')
            
            $('#toast-success').removeClass('hide')
            $('#toast-success').addClass('show')

            if (id) {
                $('#toast-success .d-flex .toast-body').html('Catatan medis berhasil diubah!')
            } else {
                $('#toast-success .d-flex .toast-body').html('Catatan medis berhasil ditambahkan!')
            }
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            if (data.message == 'Validation error') {
                $('#toast-danger .d-flex .toast-body').html(data.message)

                if (data.data.patient_id) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.patient_id[0])
                }
            } else {
                $('#toast-danger .d-flex .toast-body').html(data.message)
            }
        });
    }

    onMounted(() => {
        if (id) {
            loadData();
        } else {
            isLoad.value = false;
        }
    });
</script>

<template>
    <div class="card mx-3 shadow mt-4 min-vh-admin">
        <div class="card-header d-flex justify-content-between">
            <h1>Form Riwayat Pemeriksaan</h1>
            <RouterLink class="btn btn-secondary text-light my-2" :to="'/admin/pasien/' + $route.params.patient_id + '/medical-history'">
                <i class="bi bi-caret-left-fill"></i> Kembali
            </RouterLink>
        </div>
        <div v-if="isLoad" class="card-img-overlay bg-white align-items-center justify-content-center d-flex">
            <div class="spinner-border text-primary text-center" role="status">
                <img src="../assets/images/icon.svg" width="18" class="" alt="">
                <span class="visually-hidden">Loading...</span>
            </div> 
            <h4 class="ms-2">Mohon tunggu sebentar...</h4>
        </div>
        <div class="card-body">
            <form @submit.prevent="submitForm()" method="POST" class="mx-1">
                <div class="mb-3">
                    <label for="input-complaint" class="form-label">Keluhan<strong class="text-danger">*</strong></label>
                    <div class="form-control-feedback form-control-feedback-start">
                        <textarea class="form-control" name="complaint" id="input-complaint" v-model="complaint" rows="5" placeholder="Masukkan Keluhan..." autofocus></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="input-physical_examination_results" class="form-label">Hasil Pemeriksaan Fisik</label>
                    <div class="form-control-feedback form-control-feedback-start">
                        <textarea class="form-control" name="physical_examination_results" id="input-physical_examination_results" v-model="physical_examination_results" rows="5" placeholder="Masukkan Hasil Pemeriksaan Fisik..."></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="input-diagnosis" class="form-label">Diagnosis<strong class="text-danger">*</strong></label>
                    <div class="form-control-feedback form-control-feedback-start">
                        <textarea class="form-control" name="diagnosis" id="input-diagnosis" v-model="diagnosis" rows="5" placeholder="Masukkan Diagnosis..."></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="input-medicine" class="form-label">Obat</label>
                    <div class="form-control-feedback form-control-feedback-start">
                        <textarea class="form-control" name="medicine" id="input-medicine" v-model="medicine" rows="5" placeholder="Masukkan Obat..."></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <label id="input-notes" class="form-label">Catatan Lainnya</label>
                    <div class="form-control-feedback form-control-feedback-start">
                        <textarea class="form-control" name="notes" id="input-notes" v-model="notes" rows="5" placeholder="Masukkan Catatan Lainnya..."></textarea>
                    </div>
                </div>

                <div class="mb-3 mt-4 text-end">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-floppy-fill"></i> Simpan</button>
                </div>
            </form>
        </div>
    </div>
</template>
