<script setup lang="ts">
    import { ref, onMounted } from 'vue';
    import { useRoute } from 'vue-router';
    import api from '@/api/index.ts';
    import $ from "jquery";
    import { getToken } from "@/stores/jwtControl";
    import DataTable from 'datatables.net-vue3';
    import DataTablesCore from 'datatables.net-bs5';
    import 'datatables.net-select';
    import 'datatables.net-responsive';

    let dt;
    const route = useRoute();
    const myDataTableRef = ref();
    const medicalId = ref('');

    DataTable.use(DataTablesCore);

    const columns = [
        {
            title: 'No',
            data: 'DT_RowIndex',
            className: 'text-center',
            orderable: false,
            searchable: false
        },
        {
            title: 'Keluhan Pasien',
            data: 'complaint',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return `<div class="overflow-auto" style="width:300px;max-height:100px;">${data}</div>`;
            }
        },
        {
            title: 'Hasil Pemeriksaan Fisik',
            data: 'physical_examination_results',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return `<div class="overflow-auto" style="width:300px;max-height:100px;">${data}</div>`;
            }
        },
        {
            title: 'Diagnosis',
            data: 'diagnosis',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return `<div class="overflow-auto" style="width:300px;max-height:100px;">${data}</div>`;
            }
        },
        {
            title: 'Obat',
            data: 'medicine',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return `<div class="overflow-auto" style="width:300px;max-height:100px;">${data}</div>`;
            }
        },
        {
            title: 'Catatan Lainnya',
            data: 'notes',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return `<div class="overflow-auto" style="width:300px;max-height:100px;">${data}</div>`;
            }
        },
        {
            title: 'Berobat Pada',
            data: 'created_at',
            className: 'text-nowrap',
            orderable: true,
            searchable: true,
            render: function (data, type, row, meta) {
                return new Date(data);
            }
        },
        {
            title: 'Aksi',
            columnLabel: "actions",
            data: null,
            className: 'text-nowrap',
            orderable: false,
            searchable: false,
            render: function (data, type, row, meta) {
                return `
                    <a aria-current="page" href="/admin/pasien/${data.patient_id}/medical-history/${data.id}/edit" class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil-square"></i> Ubah
                    </a>
                    <a href="#" class="btn btn-sm btn-danger btn-hapus" data-bs-toggle="modal" data-id="${data.id}" data-bs-target="#konfirmasiHapus">
                        <i class="bi bi-trash-fill"></i> Hapus
                    </a>
                `;
            }
        },
    ];

    const options = {
        scrollX: true,
        select: false,
        serverSide: true,
        processing: true,
        order: [2, 'ASC'],
        drawCallback: function(s) {
            $('.btn-hapus').on('click', function(e) {
                medicalId.value = $(this).data('id');
            });
        }
    };

    const ajax = {
        url: api.getUri() + '/medical-history',
        headers: {
            "Authorization": `Bearer ${getToken()}`
        },
        data: {
            'patient_id': route.params.patient_id
        }
    };

    onMounted(() => {
        if (myDataTableRef.value) {
            dt = myDataTableRef.value.dt;
        }
    });

    const hapusAction = async () => {
        await api.delete('/medical-history/'+medicalId.value, {
            headers: {
                'Authorization': `Bearer ${getToken()}`
            }
        })
        .then(() => {
            $('#toast-danger').addClass('hide')
            $('#toast-danger').removeClass('show')

            dt.ajax.reload();

            $('#toast-success').removeClass('hide')
            $('#toast-success').addClass('show')
            $('#toast-success .d-flex .toast-body').html('Hapus data sukses!')
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            $('#toast-danger .d-flex .toast-body').html(data.message)
        });
    }
</script>

<style>
    @import 'datatables.net-bs5';
</style>

<template>
    <div class="mt-4 mx-3">
        <RouterLink class="btn btn-secondary text-light my-2" :to="'/admin/pasien'">
            <i class="bi bi-caret-left-fill"></i> Kembali
        </RouterLink>
    </div>
    <div class="card mx-3 shadow mt-1 min-vh-admin">
        <div class="card-header d-flex justify-content-between">
            <h1>Data Riwayat Pemeriksaan</h1>
            <RouterLink class="btn btn-info text-light my-2" :to="'/admin/pasien/' + $route.params.patient_id + '/medical-history/form'">
                <i class="bi bi-plus-square-fill"></i> Tambah Data
            </RouterLink>
        </div>
        <div class="card-body">
            <div class="container">
                <DataTable
                    ref="myDataTableRef"
                    :columns="columns"
                    :ajax="ajax"
                    :options="options"
                    class="table table-bordered">
                </DataTable>
            </div>
        </div>
    </div>

    <div class="modal fade" id="konfirmasiHapus" tabindex="-1" aria-labelledby="konfirmasiHapusLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="konfirmasiHapusLabel">Konfirmasi Hapus</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin ingin hapus data ini?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <button class="btn btn-danger" @click="hapusAction(this)" data-bs-dismiss="modal">Yakin</button>
                </div>
            </div>
        </div>
    </div>
</template>
