:root, [data-bs-theme=light] {
    --bs-primary: #48FFA7;
    --bs-primary-text-emphasis: #1c6140;
    --bs-primary-bg-subtle: #cffce6;
    --bs-primary-border-subtle: #cffce6;
    --bs-primary-rgb: 72, 255, 167;
}

.hover-opacity-100:hover {
    opacity: 100% !important;
}

.btn-outline-primary {
    --bs-btn-color: #40d68d;
    --bs-btn-border-color: #40d68d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #40d68d;
    --bs-btn-hover-border-color: #40d68d;
    --bs-btn-focus-shadow-rgb: 25, 135, 84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #40d68d;
    --bs-btn-active-border-color: #40d68d;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #40d68d;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #40d68d;
    --bs-gradient: none;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #40d68d;
    --bs-btn-border-color: #40d68d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #12ba69;
    --bs-btn-hover-border-color: #22b870;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #40d68d;
    --bs-btn-active-border-color: #12ba69;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #40d68d;
    --bs-btn-disabled-border-color: #40d68d;
}

.cursor-pointer {
    cursor: pointer !important;
}

.hover-opacity-75:hover {
    opacity: 75% !important;
}

.hover-opacity-50:hover {
    opacity: 50% !important;
}

.hover-opacity-25:hover {
    opacity: 25% !important;
}

.z-index-up {
    z-index: 9999999999999 !important;
}
