<script setup lang="ts">
    import {ref, onMounted, watch} from 'vue'
    import api from '../api/index.ts'

    const dataBanner = ref({})
    const dataLayanan = ref([])
    const dataDokter = ref([])
    const dataJadwal = ref([])
    const dataLokasi = ref({})
    const dataKontak = ref([])

    const jmlLoad = ref(0)
    const totalLoad = 6

    const fetchDataBanner = async () => {
        await api.get('/content/banner')
        .then(res => {
            dataBanner.value = res.data.data
            jmlLoad.value++
        })
    }

    const fetchDataLayanan = async () => {
        await api.get('/content/service')
        .then(res => {
            dataLayanan.value = res.data.data
            jmlLoad.value++
        })
    }

    const fetchDataDokter = async () => {
        await api.get('/content/show-doctor')
        .then(res => {
            dataDokter.value = res.data.data
            jmlLoad.value++
        })
    }

    const fetchDataJadwal = async () => {
        await api.get('/content/schedule')
        .then(res => {
            dataJadwal.value = res.data.data
            jmlLoad.value++
        })
    }

    const fetchDataLokasi = async () => {
        await api.get('/content/location')
        .then(res => {
            dataLokasi.value = res.data.data
            jmlLoad.value++
        })
    }

    const fetchDataKontak = async () => {
        await api.get('/content/contact')
        .then(res => {
            dataKontak.value = res.data.data
            jmlLoad.value++
        })
    }

    onMounted(() => {
        fetchDataBanner()
        fetchDataLayanan()
        fetchDataDokter()
        fetchDataJadwal()
        fetchDataLokasi()
        fetchDataKontak()
    })

    watch(jmlLoad, () => {
        if (jmlLoad.value == totalLoad) {
            console.log("Done");
        }
    })
</script>

<template>
    <div v-if="jmlLoad < totalLoad" class="fixed-top w-100 h-100 bg-white align-items-center justify-content-center d-flex">
        <div class="spinner-border text-primary text-center" role="status">
            <img src="../assets/images/icon.svg" width="18" class="" alt="">
            <span class="visually-hidden">Loading...</span>
        </div> 
        <h4 class="ms-2">Mohon tunggu sebentar...</h4>
    </div>
    <div data-bs-spy="scroll" data-bs-target="#navbar" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" tabindex="0">
        <section class="py-5 px-3">
            <div class="container my-5">
                <div class="row py-5 my-4">
                    <div class="col d-flex align-items-center">
                        <h1>{{ dataBanner.description }}</h1>
                    </div>
                    <div class="col d-flex justify-content-center d-none d-lg-block">
                        <img :src="dataBanner.img_path" width="85%" alt="Gbr Vector Puskesmas">
                    </div>
                </div>
            </div>
        </section>

        <section id="layanankami" class="bg-primary bg-opacity-25 py-5 px-3">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div>
                        <h3 class="text-center">Layanan Kami</h3>
                        <hr class="border-bottom border-3 border-primary opacity-100 mx-5" />
                    </div>
                </div>
                <div class="row py-5 d-flex justify-content-center">
                    <div v-for="(layanan, index) in dataLayanan" :key="index" class="col-lg-2 col-md-4 col-sm-12 p-2">
                        <div class="card shadow border border-2 border-success" style="min-height: 250px;cursor:pointer;" data-bs-toggle="modal" :data-bs-target="'#detailLayanan'+index">
                            <div class="card-header bg-primary">
                                <h1 class="text-white text-center">{{ layanan.position }}</h1>
                            </div>
                            <div class="card-body">
                                <h4>{{ layanan.title }}</h4>
                            </div>
                        </div>
                        <div class="modal fade" :id="'detailLayanan'+index" tabindex="-1" :aria-labelledby="'detailLayanan'+index+'Label'" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" :id="'detailLayanan'+index+'Label'">{{ layanan.title }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ layanan.description }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <a v-if="layanan.redirect_link != null" :href="layanan.redirect_link" class="btn btn-primary" target="_blank">Buka Layanan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="dokterjaga" class="bg-opacity-25 py-5 px-3">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div>
                        <h3 class="text-center">Dokter Jaga</h3>
                        <hr class="border-bottom border-3 border-primary opacity-100 mx-5" />
                    </div>
                </div>
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div v-for="(dokter, index) in dataDokter" :key="index" :class="'carousel-item '+ (index == 0 ? 'active' : '')">
                            <div class="row py-5 my-4">
                                <div class="col-lg-6 col-sm-12 d-flex justify-content-center">
                                    <img :src="dokter.user.profile.photo_path" width="55%" alt="Foto Dokter">
                                </div>
                                <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                                    <div>
                                        <h1>{{ dokter.user.profile.first_name }} {{ dokter.user.profile.last_name }}</h1>
                                        <p>"{{ dokter.user.profile.about_me }}"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>
        
        <section id="jadwal" class="bg-primary bg-opacity-25 py-5 px-3">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div>
                        <h3 class="text-center">Jadwal</h3>
                        <hr class="border-bottom border-3 border-primary opacity-100 mx-3" />
                    </div>
                </div>
                <div class="row py-5 d-flex justify-content-center">
                    <div v-for="(jadwal, index) in dataJadwal" :key="index" class="col-lg-4 col-md-4 col-sm-12 p-2">
                        <div class="card shadow border border-2 border-success">
                            <div :class="'card-header bg-'+jadwal.status">
                                <h1 class="text-white text-center">{{ jadwal.day }}</h1>
                            </div>
                            <div class="card-body">
                                <h4>{{ jadwal.description }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="lokasi" class="bg-opacity-25 py-5 px-3">
            <div class="container">
                <div class="d-flex justify-content-center">
                    <div>
                        <h3 class="text-center">Lokasi</h3>
                        <hr class="border-bottom border-3 border-primary opacity-100 mx-3" />
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-12 d-flex align-items-center">
                        <div style="width: 100%">
                            <iframe :src="`https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d${dataLokasi.zoom}!2d${dataLokasi.longitude}!3d${dataLokasi.latitude}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sid!2sid!4v1704747657951!5m2!1sid!2sid`" width="100%" height="600" style="border:0;" allowfullscreen></iframe>
                            <!-- <iframe :src="`https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d${dataLokasi.zoom}!2d${dataLokasi.longitude}!3d${dataLokasi.latitude}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sid!2sid!4v1704748599161!5m2!1sid!2sid`" width="100%" height="600" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                            <!-- <iframe :src="`https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d${dataLokasi.zoom}!2d${dataLokasi.longitude}!3d${dataLokasi.latitude}!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e73f0da75f19%3A0x21ff37515424591f!2s${dataLokasi.label}!5e0!3m2!1sid!2sid!4v1704747657951!5m2!1sid!2sid`" width="100%" height="600" style="border:0;" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
                        </div>
                    </div>
                    <div class="col-12">
                        <p><b>Alamat : </b> {{ dataLokasi.full_address }}</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>
