<script setup lang="ts">
    import { useRouter, RouterLink } from 'vue-router'
    import api from '../api/index.js';
    import { ref } from "vue";
    import $ from "jquery";
    import { saveDataJWT } from "@/stores/jwtControl";
    
    const router = useRouter();

    const email = ref("");
    const password = ref("");

    const storeLogin = async () => {
        let formData = new FormData();

        formData.append("email", email.value);
        formData.append("password", password.value);
        
        await api.post('/login', formData)
        .then((res) => {
            $('#toast-danger').addClass('hide')
            $('#toast-danger').removeClass('show')

            const dataResponse = res.data.data
            const data = JSON.stringify(dataResponse)
            saveDataJWT(data)

            router.push('/')
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            if (data.message == 'Validation error') {
                $('#toast-danger .d-flex .toast-body').html(data.message)

                if (data.data.email) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.email[0])
                }
                if (data.data.password) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.password[0])
                }
            } else {
                $('#toast-danger .d-flex .toast-body').html(data.message)
            }
        });
    }
</script>

<template>
    <div class="row container d-flex justify-content-center m-3">
        <div class="col-sm-8 col-lg-4">
            <form @submit.prevent="storeLogin()" method="POST" class="shadow">
                <div class="card">
                    <div class="card-body mx-3">
                        <div class="text-center mb-3">
                            <div class="d-flex align-items-center justify-content-center mb-4 mt-2">
                                <RouterLink class="rounded-circle" to="/">
                                    <img src="@/assets/images/icon.svg" class="rounded-circle" alt="Icon PuskesmasKu">
                                </RouterLink>
                            </div>
                            <h5 class="mb-0">Masuk ke akun anda</h5>
                            <span class="d-block text-muted">Masukkan kredensial anda dibawah</span>
                        </div>
            
                        <div class="mb-3">
                            <label class="form-label">Email</label>
                            <div class="form-control-feedback form-control-feedback-start">
                                <input type="email" class="form-control" v-model="email" required placeholder="Masukkan Email..." autofocus name="email">
                            </div>
                        </div>
            
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <div class="form-control-feedback form-control-feedback-start">
                                <input type="password" class="form-control" v-model="password" required placeholder="•••••••••••" name="password">
                            </div>
                        </div>
                        
                        <div class="mb-3 mt-4">
                            <button type="submit" class="btn btn-primary w-100" name="login">Masuk</button>
                        </div>

                        <p>Belum memiliki akun? <RouterLink class="rounded-circle" to="/register">Daftar disini!</RouterLink></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>