<script setup lang="ts">
    import { useRouter, RouterLink } from 'vue-router'
    import api from '../api/index.js';
    import { ref } from "vue";
    import $ from "jquery";
    import {FormWizard, TabContent} from 'vue3-form-wizard'
    import 'vue3-form-wizard/dist/style.css'

    const router = useRouter();

    const email = ref("");
    const password = ref("");
    const password_confirmation = ref("");
    
    const photo = ref({});
    const nik = ref("");
    const first_name = ref("");
    const last_name = ref("");
    const birth_place = ref("");
    const birth_date = ref("");
    const gender = ref("");
    const religion = ref("");
    const marital_status = ref("");
    const no_bpjs = ref("");
    const about_me = ref("");
    
    const address_details = ref("");
    const rt = ref("");
    const rw = ref("");
    const village = ref("");  // Kelurahan
    const district = ref(""); // Kecamatan
    const city = ref("");
    const province = ref("");
    const postal_code = ref("");
    const country = ref("");

    const storeRegister = async () => {
        let formData = new FormData();

        formData.append("email", email.value);
        formData.append("password", password.value);
        formData.append("password_confirmation", password_confirmation.value);
        
        formData.append("photo", photo.value);
        formData.append("nik", nik.value);
        formData.append("first_name", first_name.value);
        formData.append("last_name", last_name.value);
        formData.append("birth_place", birth_place.value);
        formData.append("birth_date", birth_date.value);
        formData.append("gender", gender.value);
        formData.append("religion", religion.value);
        formData.append("marital_status", marital_status.value);
        formData.append("no_bpjs", no_bpjs.value);
        formData.append("about_me", about_me.value);
        
        formData.append("address_details", address_details.value);
        formData.append("rt", rt.value);
        formData.append("rw", rw.value);
        formData.append("village", village.value);
        formData.append("district", district.value);
        formData.append("city", city.value);
        formData.append("province", province.value);
        formData.append("postal_code", postal_code.value);
        formData.append("country", country.value);
        
        await api.post('/register', formData)
        .then((res) => {
            console.log(res);
            
            $('#toast-danger').addClass('hide')
            $('#toast-danger').removeClass('show')

            $('#toast-success').removeClass('hide')
            $('#toast-success').addClass('show')
            $('#toast-success .d-flex .toast-body').html('Registrasi Akun Sukses!')

            router.push('/login')
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            if (data.message == 'Validation error') {
                $('#toast-danger .d-flex .toast-body').html(data.message)

                if (data.data.email) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.email[0])
                }
                if (data.data.password) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.password[0])
                }
            } else {
                $('#toast-danger .d-flex .toast-body').html(data.message)
            }
        });
    }

    const previewFiles = (event) => {
        photo.value = event.target.files[0]
    }
</script>

<template>
    <div class="row container d-flex justify-content-center m-3">
        <div class="col-sm-9 col-lg-6">
            <KeepAlive>
                <FormWizard
                    @on-complete="storeRegister"
                    back-button-text="Kembali"
                    next-button-text="Berikutnya"
                    finish-button-text="Daftar" 
                    step-size="sm" 
                    color="#22b870">
                    <TabContent  title="Autentikasi">
                        <div class="card">
                            <div class="card-body mx-3">
                                <div class="row">
                                    <div class="text-center mb-3 col-lg-12">
                                        <div class="d-flex align-items-center justify-content-center mb-4 mt-2">
                                            <RouterLink class="rounded-circle" to="/">
                                                <img src="@/assets/images/icon.svg" class="rounded-circle" alt="Icon PuskesmasKu" width="110">
                                            </RouterLink>
                                        </div>
                                        
                                        <h5 class="mb-0">Daftarkan akun anda</h5>
                                        <span class="d-block text-muted">Masukkan data autentikasi anda dibawah</span>
                                    </div>
                        
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Email<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="email" class="form-control" required v-model="email"
                                                placeholder="Masukkan Email..." autofocus name="email">
                                        </div>
                                    </div>
                        
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Password<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="password" class="form-control" required v-model="password"
                                                pattern=".{6,}" placeholder="Masukan Password" name="password">
                                        </div>
                                        <small id="text-alert-password" class="text-muted">*Minimal 6 digits</small>
                                    </div>
                                    
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Konfirmasi Password<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="password" class="form-control" required v-model="password_confirmation"
                                            pattern=".{6,}" placeholder="Masukan Ulang Password" name="confirm_password">
                                        </div>
                                        <small id="text-alert-konfirmasi-password" class="text-muted">*Minimal 6 digits</small>
                                    </div>
                                </div>
            
                                <p class="text-center">
                                    <small class="text-muted">
                                        Sudah memiliki akun? <RouterLink class="rounded-circle" to="/login">Masuk disini!</RouterLink>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </TabContent>
                    <TabContent title="Informasi Pribadi">
                        <div class="card">
                            <div class="card-body mx-3">
                                <div class="row">
                                    <div class="text-center mb-3 col-lg-12">
                                        <div class="d-flex align-items-center justify-content-center mb-4 mt-2">
                                            <RouterLink class="rounded-circle" to="/">
                                                <img src="@/assets/images/icon.svg" class="rounded-circle" alt="Icon PuskesmasKu" width="110">
                                            </RouterLink>
                                        </div>
                                        
                                        <h5 class="mb-0">Daftarkan akun anda</h5>
                                        <span class="d-block text-muted">Masukkan data pribadi anda dibawah</span>
                                    </div>

                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Foto Diri<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="file" class="form-control" required @change="previewFiles"
                                                    placeholder="Masukkan Foto..." name="photo">
                                        </div>
                                    </div>
                        
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">NIK<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="nik"
                                                    placeholder="Masukkan NIK..." name="nik">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-6">
                                        <label class="form-label">Nama Depan<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="first_name"
                                                    placeholder="Masukkan Nama Depan..." name="first_name">
                                        </div>
                                    </div>
                        
                                    <div class="mb-3 col-lg-6">
                                        <label class="form-label">Nama Belakang<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="last_name"
                                                    placeholder="Masukkan Nama Belakang..." name="last_name">
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 col-lg-6">
                                        <label class="form-label">Tempat Lahir<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="birth_place"
                                                    placeholder="Masukkan Tempat Lahir..." name="birth_place">
                                        </div>
                                    </div>
    
                                    <div class="mb-3 col-lg-6">
                                        <label class="form-label">Tanggal Lahir<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="date" class="form-control" required v-model="birth_date"
                                                    placeholder="Masukkan Tanggal Lahir..." name="birth_date">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Jenis Kelamin<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" v-model="gender"
                                                        name="gender" value="L" id="gender_l">
                                                <label class="form-check-label" for="gender_l">
                                                    Laki-laki
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" v-model="gender"
                                                        name="gender" value="P" id="gender_p" required>
                                                <label class="form-check-label" for="gender_p">
                                                    Perempuan
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Agama<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <select class="form-select" required name="religion" v-model="religion">
                                                <option value="">--Pilih Agama Anda--</option>
                                                <option value="Islam">Islam</option>
                                                <option value="Kristen Protestan">Kristen Protestan</option>
                                                <option value="Kristen Katolik">Kristen Katolik</option>
                                                <option value="Hindu">Hindu</option>
                                                <option value="Buddha">Buddha</option>
                                                <option value="Konghucu">Konghucu</option>
                                            </select>
                                        </div>
                                    </div>
    
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Status Pernikahan<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <select class="form-select" required name="marital_status" v-model="marital_status">
                                                <option value="">--Pilih Status Pernikahan--</option>
                                                <option value="Belum Kawin">Belum Kawin</option>
                                                <option value="Kawin">Kawin</option>
                                                <option value="Cerai Hidup">Cerai Hidup</option>
                                                <option value="Cerai Mati">Cerai Mati</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">No BPJS</label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" v-model="no_bpjs"
                                                    placeholder="Masukkan Nomor BPJS anda apabila ada..." name="no_bpjs">
                                        </div>
                                    </div>
                                    
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Tentang Saya</label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <textarea class="form-control" rows="5" v-model="about_me" name="about_me"></textarea>
                                        </div>
                                    </div>
                                </div>
            
                                <p class="text-center">
                                    <small class="text-muted">
                                        Sudah memiliki akun? <RouterLink class="rounded-circle" to="/login">Masuk disini!</RouterLink>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </TabContent>
                    <TabContent title="Detail Alamat">
                        <div class="card">
                            <div class="card-body mx-3">
                                <div class="row">
                                    <div class="text-center mb-3 col-lg-12">
                                        <div class="d-flex align-items-center justify-content-center mb-4 mt-2">
                                            <RouterLink class="rounded-circle" to="/">
                                                <img src="@/assets/images/icon.svg" class="rounded-circle" alt="Icon PuskesmasKu" width="110">
                                            </RouterLink>
                                        </div>
                                        
                                        <h5 class="mb-0">Daftarkan akun anda</h5>
                                        <span class="d-block text-muted">Masukkan data alamat anda dibawah</span>
                                    </div>
                                    
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Alamat Lengkap<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <textarea class="form-control" rows="5" v-model="address_details" name="alamat" required></textarea>
                                        </div>
                                    </div>
                        
                                    <div class="mb-3 col-lg-6">
                                        <label class="form-label">RT<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="number" class="form-control" required v-model="rt"
                                                    placeholder="Masukkan RT..." name="rt">
                                        </div>
                                    </div>
    
                                    <div class="mb-3 col-lg-6">
                                        <label class="form-label">RW<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="number" class="form-control" required v-model="rw"
                                                    placeholder="Masukkan RW..." name="rw">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Kelurahan<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="village"
                                                    placeholder="Masukkan Kelurahan..." name="village">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Kecamatan<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="district"
                                                    placeholder="Masukkan Kecamatan..." name="district">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Kota<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="city"
                                                    placeholder="Masukkan Kota..." name="city">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Provinsi<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="province"
                                                    placeholder="Masukkan Provinsi..." name="province">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Kode Pos<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="number" class="form-control" required v-model="postal_code"
                                                    placeholder="Masukkan Kode Pos..." name="postal_code">
                                        </div>
                                    </div>
            
                                    <div class="mb-3 col-lg-12">
                                        <label class="form-label">Negara<span class="text-danger">*</span></label>
                                        <div class="form-control-feedback form-control-feedback-start">
                                            <input type="text" class="form-control" required v-model="country"
                                                    placeholder="Masukkan Negara..." name="country">
                                        </div>
                                    </div>
                                </div>
            
                                <p class="text-center">
                                    <small class="text-muted">
                                        Sudah memiliki akun? <RouterLink class="rounded-circle" to="/login">Masuk disini!</RouterLink>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </TabContent>
                </FormWizard>
            </KeepAlive>
        </div>
    </div>
</template>
