<script setup lang="ts">
    import {ref, onMounted} from 'vue'
    import api from '../api/index.ts'
    import { getToken } from '@/stores/jwtControl';

    const dataRiwayat = ref([])
    const search = ref("")
    const limit = ref(5)

    const fetchDataRiwayat = async (page_input = 0) => {
        await api.get('/medical-history/manual/get', {
            headers: {
                'Content-Type': 'multipart/form-data',
                'Authorization': `Bearer ${getToken()}`
            },
            params: {
                search: search.value,
                limit: limit.value,
                page: page_input == 0 ? 1 : page_input
            }
        })
        .then(res => {
            dataRiwayat.value = res.data.data
        })
    }

    onMounted(() => {
        fetchDataRiwayat()
    })
</script>

<template>
    <section class="container pb-3 px-3">
        <div class="d-flex justify-content-center mt-4">
            <div>
                <h2 class="text-center">Riwayat Berobat Saya</h2>
                <hr class="border-bottom border-3 border-primary opacity-100 mx-5" />
            </div>
        </div>
        <div class="my-5">
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <label for="input-cari">Cari Riwayat Anda : </label>
                            <div class="input-group">
                                <input id="input-cari" type="text" class="form-control" name="search" placeholder="Masukan kata kunci..."
                                       v-model="search" aria-label="Cari" aria-describedby="button-cari">
                                <button class="btn btn-outline-secondary" type="submit" id="button-cari" @click="fetchDataRiwayat()">Cari</button>
                            </div>
                            <!-- <small class="text-muted">*untuk mencari berdasarkan tanggal dan waktu gunakan format Y-M-d H:i:s (2023-11-20 08:30:00)</small> <br> -->
                        </div>
                    </div>
                </div>
                
                <div class="container mt-5">
                    <div id="data-riwayat" class="list-group">
                        <div v-for="(riwayat, index) in dataRiwayat.data" :key="index" class="border-0 list-group-item list-group-item-action cursor-pointer">
                            <div class="card bg-transparent">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ index+1 }}). {{ new Date(riwayat.created_at) }}</h5>
                                            <p class="card-text">
                                                <p>Keluhan : <br>
                                                    <small class="text-muted">{{ riwayat.complaint }}</small>
                                                </p>

                                                <p>Hasil Pemeriksaan Fisik : <br>
                                                    <small class="text-muted">{{ riwayat.physical_examination_results }}</small>
                                                </p>
                                                
                                                <p>Diagnosis : <br>
                                                    <small class="text-muted">{{ riwayat.diagnosis }}</small>
                                                </p>
                                                
                                                <p>Obat : <br>
                                                    <small class="text-muted">{{ riwayat.medicine }}</small>
                                                </p>
                                                
                                                <p>Catatan Lainnya : <br>
                                                    <small class="text-muted">{{ riwayat.notes }}</small>
                                                </p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <a v-if="dataRiwayat.data == null" href="javascript:void(0);" class="border-0 list-group-item list-group-item-action">
                            <div class="card bg-transparent">
                                <div class="row g-0">
                                    <div class="col">
                                        <div class="card-body">
                                            <p class="card-text text-center">
                                                Belum terdapat data riwayat berobat.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                
                <div class="container">
                    <div id="controller-pagination" class="row align-items-center justify-content-between">
                        <div class="col-6 row align-items-center">
                            <div class="col col-auto">
                                <select id="input-limit" v-model="limit" @change="fetchDataRiwayat()" class="form-select" aria-label="Limit Data" name="limit-data">
                                    <option value="5" selected>5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                </select>
                            </div>
                            <div class="col text-nowrap">
                                <span id="desc-limit">Menampilkan {{ dataRiwayat.to }} dari {{ dataRiwayat.total }}</span>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <nav id="nav-pagination" aria-label="Pagination Data Search">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <button id="paginate-first" :class="'page-link ' + ((dataRiwayat.current_page == 1) ? 'disabled' : '')"
                                            @click="fetchDataRiwayat(1)" aria-label="First Page">
                                            <span aria-hidden="true">&laquo;</span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button id="paginate-prev" :class="'page-link ' + ((dataRiwayat.current_page == 1) ? 'disabled' : '')"
                                            @click="fetchDataRiwayat(dataRiwayat.current_page - 1)" aria-label="Prev">
                                            <span aria-hidden="true"><</span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button id="paginate-numberfirst" :class="'page-link ' + ((dataRiwayat.last_page == 1) || (dataRiwayat.last_page == 2 && dataRiwayat.last_page != dataRiwayat.current_page) ? 'd-none' : '')"
                                            @click="fetchDataRiwayat(dataRiwayat.current_page - 1)">
                                            {{ dataRiwayat.current_page - 1 }}
                                        </button>
                                    </li>
                                    <li class="page-item active">
                                        <button id="paginate-numbermiddle" class="page-link"
                                            @click="fetchDataRiwayat(dataRiwayat.current_page)">
                                            {{ dataRiwayat.current_page }}
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button id="paginate-numberlast" :class="'page-link ' + ((dataRiwayat.last_page == 1) || (dataRiwayat.last_page == dataRiwayat.current_page) ? 'd-none' : '')"
                                            @click="fetchDataRiwayat(dataRiwayat.current_page + 1)">
                                            {{ dataRiwayat.current_page + 1 }}
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button id="paginate-next" :class="'page-link ' + ((dataRiwayat.last_page == dataRiwayat.current_page) ? 'disabled' : '')"
                                            @click="fetchDataRiwayat(dataRiwayat.current_page + 1)" aria-label="Next">
                                            <span aria-hidden="true">></span>
                                        </button>
                                    </li>
                                    <li class="page-item">
                                        <button id="paginate-last" :class="'page-link ' + ((dataRiwayat.last_page == dataRiwayat.current_page) ? 'disabled' : '')"
                                            @click="fetchDataRiwayat(dataRiwayat.last_page)" aria-label="Last Page">
                                            <span aria-hidden="true">&raquo;</span>
                                        </button>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
