<script setup lang="ts">
    import { RouterLink } from 'vue-router'
</script>

<template>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/dashboard">
                <i class="bi bi-house-door-fill"></i> Beranda
            </RouterLink>
        </li>
        <li class="mb-1">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/pasien">
                <i class="bi bi-hospital-fill"></i> Pasien
            </RouterLink>
        </li>
        <li class="my-2">
            <small class="text-muted fw-bold text-size-12px">
                CONTENT
            </small>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/banner">
                <i class="bi bi-card-heading"></i> Banner
            </RouterLink>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/service">
                <i class="bi bi-clipboard-plus-fill"></i> Service
            </RouterLink>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/show-doctor">
                <i class="bi bi-person-rolodex"></i> Show Doctor
            </RouterLink>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/schedule">
                <i class="bi bi-calendar-week-fill"></i> Schedule
            </RouterLink>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/location">
                <i class="bi bi-geo-alt-fill"></i> Location
            </RouterLink>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/contact">
                <i class="bi bi-wallet-fill"></i> Contact
            </RouterLink>
        </li>
        <li class="my-2">
            <small class="text-muted fw-bold text-size-12px">
                CONFIGURATION
            </small>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/website-setting">
                <i class="bi bi-sliders"></i> Website Setting
            </RouterLink>
        </li>
        <li class="mb-1 ps-3">
            <RouterLink class="btn hover-opacity-50 w-100 text-start" active-class="bg-primary-subtle" to="/admin/pengguna">
                <i class="bi bi-person-fill-gear"></i> User
            </RouterLink>
        </li>
    </ul>
</template>
