<template>
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="@/assets/images/icon.svg" width="50" class="me-3" alt="Logo PuskesmasKu" srcset="">
        <img src="@/assets/images/logo.svg" width="150" alt="Logo PuskesmasKu" srcset="">
    </a>
</template>
