<script setup lang="ts">
    import {ref, onMounted} from 'vue'
    import api from '@/api/index.ts'
    import $ from 'jquery'

    const dataWebsite = ref({})
    const dataKontak = ref([])

    const fetchDataWebsite = async () => {
        await api.get('/configuration/website-setting')
        .then(res => {
            dataWebsite.value = res.data.data

            $('#logo-navbar').attr('src', res.data.data.logo_path)
            let rawTitle = $('title').html().split(' - ')

            if (rawTitle.length > 1) {
                $('title').html(res.data.data.title + ' - ' + rawTitle[1])
            } else {
                $('title').html(res.data.data.title)
            }
        })
    }

    const fetchDataKontak = async () => {
        await api.get('/content/contact')
        .then(res => {
            dataKontak.value = res.data.data
        })
    }

    onMounted(() => {
        fetchDataWebsite()
        fetchDataKontak()
    })
</script>

<template>
    <footer class="footer d-flex flex-lg-column bg-light border-top mt-5" id="kt_footer">
        <div class="container align-items-center py-4">
            <div class="row">
                <div class="col-12 col-lg-4 py-5">
                    <img alt="Logo" :src="dataWebsite.logo_path" class="mb-4 logo-default" width="150px" />
                    <p>{{ dataWebsite.about }}</p>
                </div>
                <div class="col-12 col-lg-4 py-5">
                    <h3>Akses Info</h3>
                    <div class="list-group">
                        <a href="/#layanankami" class="ps-0 list-group-item list-group-item-action bg-light border-0">Layanan</a>
                        <a href="/#dokterjaga" class="ps-0 list-group-item list-group-item-action bg-light border-0">Dokter Jaga</a>
                        <a href="/#jadwal" class="ps-0 list-group-item list-group-item-action bg-light border-0">Jadwal</a>
                        <a href="/#lokasi" class="ps-0 list-group-item list-group-item-action bg-light border-0">Lokasi</a>
                    </div>
                </div>
                <div class="col-12 col-lg-4 py-5">
                    <h3>Kontak Kami</h3>
                    <p v-for="(kontak, index) in dataKontak" :key="index">
                        <a :href="kontak.redirect_link" class="link-dark" target="_blank" rel="noopener noreferrer">
                            <span class="svg-icon svg-icon-muted svg-icon-2x me-2">
                                <img :src="kontak.icon_path" :alt="kontak.icon" srcset="">
                            </span>
                            <span>{{ kontak.description }}</span>
                        </a>
                    </p>
                </div>
            </div>
            <hr class="fw-bolder mx-2">
            <div class="text-dark order-2 order-md-1 text-center w-100">
                <span class="text-muted fw-bold">Copyright © PuskesmasKu 2024. All rights reserved</span>
            </div>
        </div>
    </footer>
</template>
