<template>
    <footer class="my-3">
        <hr class="fw-bolder mx-2">
        <div class="text-dark order-2 order-md-1 w-100 px-4">
            <span class="text-muted fw-bold">Copyright © PuskesmasKu 2024. All rights reserved</span>
        </div>
    </footer>
</template>
