<script setup lang="ts">
    import { useRouter, RouterLink } from 'vue-router'
    import api from '@/api/index'
    import { ref, onBeforeMount } from "vue"
    import $ from "jquery"
    import { getUser, getToken, isRole, isTokenExpire, destroyDataJWT } from "@/stores/jwtControl"

    const router = useRouter();

    const is_loggedin = ref(false);
    let intervalCheck = undefined;

    const checkToken = () => {
        if (isTokenExpire()) {
            clearInterval(intervalCheck);
            destroyDataJWT()
            is_loggedin.value = false
            router.push('/')
        } else {
            is_loggedin.value = true
        }

        if (is_loggedin.value) {
            intervalCheck = setInterval(() => {
                if (isTokenExpire()) {
                    clearInterval(intervalCheck);
                    destroyDataJWT()
                    is_loggedin.value = false
                    router.push('/')
                } else {
                    is_loggedin.value = true
                }
            }, 1000)
        }
    }

    const logoutAction = async () => {
        await api.post('/logout', {}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'Authorization': `Bearer ${getToken()}`
                }
            })
        .then(() => {
            $('#toast-danger').addClass('hide')
            $('#toast-danger').removeClass('show')

            destroyDataJWT()
            is_loggedin.value = false
            router.push('/')

            $('#toast-success').removeClass('hide')
            $('#toast-success').addClass('show')
            $('#toast-success .d-flex .toast-body').html('Logout sukses!')
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            if (data.message == 'Validation error') {
                $('#toast-danger .d-flex .toast-body').html(data.message)

                if (data.data.email) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.email[0])
                }
                if (data.data.password) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.password[0])
                }
            } else {
                $('#toast-danger .d-flex .toast-body').html(data.message)
            }
        });
    }

    onBeforeMount(() => {
        checkToken();
    })
</script>

<template>
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top bg-white">
        <div class="container">
            <RouterLink class="navbar-brand" to="/">
                <img id="logo-navbar" src="@/assets/images/logo.svg" width="120" alt="Logo Puskesmasku">
            </RouterLink>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/#layanankami">Layanan</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#dokterjaga">Dokter Jaga</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#jadwal">Jadwal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#lokasi">Lokasi</a>
                    </li>
                </ul>

                <div class="d-flex justify-content-end ms-5 my-2">
                    <div v-if="is_loggedin" class="dropdown">
                        <a class="nav-link dropdown-toggle me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img :src="getUser().profile.photo_path" class="rounded-circle" alt="my foto" srcset="" width="25">
                        </a>
                        <ul class="dropdown-menu mt-2">
                            <li>
                                <RouterLink v-if="isRole('admin')" class="dropdown-item" to="/admin">Master</RouterLink>
                                <RouterLink v-if="isRole('pasien')" class="dropdown-item" to="/riwayat">Riwayat</RouterLink>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#konfirmasiLogout">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                    <RouterLink v-else class="btn btn-outline-primary px-4 py-2" to="/login">Login</RouterLink>
                </div>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="konfirmasiLogout" tabindex="-1" aria-labelledby="konfirmasiLogoutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="konfirmasiLogoutLabel">Konfirmasi Logout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin ingin logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <button class="btn btn-danger" @click="logoutAction()" data-bs-dismiss="modal">Yakin</button>
                </div>
            </div>
        </div>
    </div>
</template>
