<script setup lang="ts">
    import { useRouter, RouterLink } from 'vue-router'
    import api from '@/api/index'
    import { ref, onBeforeMount } from "vue"
    import $ from "jquery"
    import { getToken, isTokenExpire, destroyDataJWT } from "@/stores/jwtControl"

    const router = useRouter();

    const is_loggedin = ref(false);
    let intervalCheck = undefined;

    const checkToken = () => {
        if (isTokenExpire()) {
            clearInterval(intervalCheck);
            destroyDataJWT()
            is_loggedin.value = false
            router.push('/')
        } else {
            is_loggedin.value = true
        }

        if (is_loggedin.value) {
            intervalCheck = setInterval(() => {
                if (isTokenExpire()) {
                    clearInterval(intervalCheck);
                    destroyDataJWT()
                    is_loggedin.value = false
                    router.push('/')
                } else {
                    is_loggedin.value = true
                }
            }, 1000)
        }
    }

    const logoutAction = async () => {
        await api.post('/logout', {}, {
                headers: {
                    'Content-Type': 'multipart/form-data',
                    'Authorization': `Bearer ${getToken()}`
                }
            })
        .then(() => {
            $('#toast-danger').addClass('hide')
            $('#toast-danger').removeClass('show')

            destroyDataJWT()
            is_loggedin.value = false
            router.push('/')

            $('#toast-success').removeClass('hide')
            $('#toast-success').addClass('show')
            $('#toast-success .d-flex .toast-body').html('Logout sukses!')
        })
        .catch((err) => {
            const data = err.response.data
            $('#toast-danger').removeClass('hide')
            $('#toast-danger').addClass('show')

            if (data.message == 'Validation error') {
                $('#toast-danger .d-flex .toast-body').html(data.message)

                if (data.data.email) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.email[0])
                }
                if (data.data.password) {
                    $('#toast-danger .d-flex .toast-body').html(data.data.password[0])
                }
            } else {
                $('#toast-danger .d-flex .toast-body').html(data.message)
            }
        });
    }

    onBeforeMount(() => {
        checkToken();
    })
</script>

<template>
    <div class="card mx-3 shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <button class="btn btn-secondary d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#canvasSidebar" aria-controls="canvasSidebar">
                        <span class="fw-bold">=</span>
                    </button>
                </div>
                <div class="col text-end">
                    <a class="btn btn-outline-primary px-4 py-2" data-bs-toggle="modal" data-bs-target="#konfirmasiLogout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="konfirmasiLogout" tabindex="-1" aria-labelledby="konfirmasiLogoutLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="konfirmasiLogoutLabel">Konfirmasi Logout</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin ingin logout?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <button class="btn btn-danger" @click="logoutAction()" data-bs-dismiss="modal">Yakin</button>
                </div>
            </div>
        </div>
    </div>
</template>
