<script setup lang="ts">
    import {ref, onBeforeMount} from 'vue'
    import api from '@/api/index.ts'

    const dataBanner = ref({})
    const isLoad = ref(true)

    const fetchDataBanner = async () => {
        await api.get('/content/banner')
        .then(res => {
            dataBanner.value = res.data.data
            isLoad.value = false
        })
    }

    onBeforeMount(() => {
        fetchDataBanner()
    })
</script>

<template>
    <div class="card mx-3 shadow mt-4 min-vh-admin bg-primary-subtle">
        <div class="card-body">
            <div class="container my-5">
                <div class="row py-5 my-4">
                    <div class="col-lg-6 col-sm-12 d-flex align-items-center">
                        <h1>{{ dataBanner.description }}</h1>
                    </div>
                    <div class="col-lg-6 col-sm-12 d-flex justify-content-center mt-5">
                        <img :src="dataBanner.img_path" width="75%" alt="Gbr Vector Puskesmas">
                    </div>
                </div>
            </div>
        </div>
        <div v-if="isLoad" class="card-img-overlay bg-primary-subtle align-items-center justify-content-center d-flex">
            <div class="spinner-border text-primary text-center" role="status">
                <img src="../assets/images/icon.svg" width="18" class="" alt="">
                <span class="visually-hidden">Loading...</span>
            </div> 
            <h4 class="ms-2">Mohon tunggu sebentar...</h4>
        </div>
    </div>
</template>
