<script setup lang="ts">
    import { RouterView } from 'vue-router'
    import Alert from '../components/partials/Alert.vue';
    import Sidebar from '@/components/partials/Sidebar.vue';
    import Topbar from '@/components/partials/Topbar.vue';
    import FooterAdmin from '@/components/partials/FooterAdmin.vue';
    import '../assets/css/styles-admin.css'
</script>

<template>
    <Alert />

    <div class="d-flex flex-nowrap">
        <Sidebar />
    </div>

    <div class="mt-2 ms-sidebar">
        <Topbar />
        <RouterView />
        <FooterAdmin />
    </div>
</template>