<script setup lang="ts">
    import { RouterView } from 'vue-router'
    import Alert from '../components/partials/Alert.vue';
</script>

<template>
    <Alert />

    <div class="bg-primary">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <RouterView />
        </div>
    </div>
</template>
