<script setup lang="ts">
    import { onMounted } from "vue";
    import { RouterView } from 'vue-router'
    import Alert from '../components/partials/Alert.vue';
    import Navbar from '../components/partials/Navbar.vue';
    import Footer from '../components/partials/Footer.vue';
    import '../assets/css/styles.css'
    import $ from 'jquery';

    onMounted(() => {
        $(window).scroll(function(){
            if ($(this).scrollTop() > 50) {
                $('.navbar').addClass('shadow');
                $('#scrolltotop').removeClass('d-none');
            } else {
                $('.navbar').removeClass('shadow');
                $('#scrolltotop').addClass('d-none');
            }
        });
    
        $('#scrolltotop').click(function() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        })
    });
</script>

<template>
    <Alert />
    <Navbar />

    <div class="mt-5 pt-3">
        <RouterView />
    </div>

    <Footer />
    
    <img id="scrolltotop" src="@/assets/images/scroll_top.svg" class="cursor-pointer position-fixed bottom-0 end-0 m-4 d-none bg-transparent shadow rounded-circle opacity-50 hover-opacity-100" width="50" alt="To top">
</template>
